<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751536898987-6d3ncoi03qifa2qfnv8skicc9f4mas0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751536898987-6d3ncoi03qifa2qfnv8skicc9f4mas0u</string>
	<key>API_KEY</key>
	<string>AIzaSyA2HwtL9o3N7MS9V12Aioqy6W5mAva2hmc</string>
	<key>GCM_SENDER_ID</key>
	<string>751536898987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hideyu.stepTodo</string>
	<key>PROJECT_ID</key>
	<string>stepgoaltodo</string>
	<key>STORAGE_BUCKET</key>
	<string>stepgoaltodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751536898987:ios:10e6141582e4ed90e948ee</string>
</dict>
</plist>